.tabs .tab a{
    color:#0288d1;
}

.tabs .tab a:hover {
    color:#01579b;
}

.tabs .tab a.active {
    color:#01579b;
}

.tabs .indicator {
    background-color:#01579b;
}

.btn-floating.top-right {
    position: absolute;
    right: 24px;
    top: 20px;
}