.navbar .navbar-brand i.material-icons {
    margin-right: 10px;
    font-size: 1.25rem;
}

.container.root {
    margin-top:70px
}

h1 > i.material-icons {
    font-size: 2.0rem
}

button > i.material-icons,
a > i.material-icons {
    font-size: 1.0rem
}

button > span,
a > span {
    vertical-align: text-bottom;
}

form.inline {
    display: inline
}