<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-header">
    <link rel="stylesheet" th:href="@{/webjars/materializecss/1.0.0/css/materialize.min.css}"></link>
    <link rel="stylesheet" th:href="@{/webjars/material-design-icons/4.0.0/material-icons.css}"></link>
    <link rel="stylesheet" th:href="@{/customizing.css}"></link>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/materializecss/1.0.0/js/materialize.min.js}"></script>

    <title>Fake SMTP Server</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

</body>
</html>