<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-header :: html-header"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container" style="margin-top:60px">
    <div th:replace="fragments/error-bar :: error-bar"></div>
    <div class="row">
        <div class="col s12">
            <h1><i class="material-icons" style="font-size: 3rem">inbox</i>Inbox</h1>
            <div th:if="${mails.totalElements == 0}">
                <div class="card light-blue lighten-4">
                    <div class="card-content">No emails available.</div>
                </div>
            </div>
            <div th:if="${mails.totalElements > 0}">
                <button data-target="delete-all-modal" class="btn red modal-trigger"><i class="material-icons left">delete</i>Delete All</button>
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Received On</th>
                        <th>Subject</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mail : ${mails}">
                        <td th:text="${mail.id}">Id</td>
                        <td th:text="${mail.fromAddress}">From</td>
                        <td th:text="${mail.toAddress}">To</td>
                        <td th:with="df='yyyy-MM-dd HH:mm:ss'" th:text="${#calendars.format(mail.receivedOn,df)}">Received On</td>
                        <td th:text="${mail.subject}"></td>
                        <td>
                            <a class="waves-effect waves-light btn blue darken-3" alt="Details" th:href="@{|/email/${mail.id}|}"><i class="material-icons">email</i></a>
                            <form action="#" th:action="@{'/email/{id}'(id=${mail.id})}" th:method="delete" class="inline">
                                <input type="hidden" name="_method" value="delete" />
                                <button class="waves-effect waves-light btn blue darken-3" type="submit"><i class="material-icons">delete</i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="fragments/paginator :: paginator('email', ${mails})"></div>
            </div>
        </div>
    </div>
</div>

<div id="delete-all-modal" class="modal">
    <div class="modal-content">
        <h4>Delete All Emails</h4>
        <p>Do you really want to delete all emails?</p>
    </div>
    <div class="modal-footer">
        <form action="#" th:action="@{'/email'}" th:method="delete" class="inline">
            <input type="hidden" name="_method" value="delete" />
            <button class="waves-effect waves-light btn red" type="submit">Yes</button>
        </form>
        <a href="#!" class="modal-close btn grey lighten-2 waves-effect waves-light">No</a>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.modal').modal();
      });
</script>
</body>
</html>