<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-header :: html-header"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container root">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <span class="card-title"><i class="material-icons" style="vertical-align: bottom;">email</i>&nbsp;Email&nbsp;<span th:text="${mail.id}">mail.id</span></span>
                    <a class="btn-close float-end" aria-label="Close" th:href="@{/email}"></a>
                </div>
                <div class="card-body p-0">
                    <dl class="row p-3">
                        <dt class="col-sm-2">From:</dt>
                        <dd class="col-sm-10" th:text="${mail.fromAddress}">From</dd>
                        <dt class="col-sm-2">To:</dt>
                        <dd class="col-sm-10" th:text="${mail.toAddress}">To</dd>
                        <dt class="col-sm-2">Received On:</dt>
                        <dd class="col-sm-10" th:with="df='yyyy-MM-dd HH:mm:ss'" th:text="${#calendars.format(mail.receivedOn,df)}">Received On</dd>
                        <dt class="col-sm-2">Subject:</dt>
                        <dd class="col-sm-10" th:text="${mail.subject}">Subject</dd>
                    </dl>

                    <ul class="nav nav-tabs" id="mail-tabs" role="tablist">
                        <li class="nav-item" role="presentation" th:each="c,is : ${mail.contents}">
                            <button class="nav-link" th:classappend="${is.first} ? 'active' : ''" data-bs-toggle="tab" th:attr="data-bs-target='#mail-content-'+${c.id}" th:text="${c.contentType}">type</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#mail-content-raw">Raw</button>
                        </li>
                    </ul>
                    <div class="tab-content p-3" id="mail-tabs-content">
                        <div class="tab-pane fade mail-content-plain" th:each="c,is : ${mail.contents}" th:id="'mail-content-'+${c.id}" th:classappend="${is.first} ? 'show active' : ''" th:utext="${c.data}"></div>
                        <div class="tab-pane fade" id="mail-content-raw">
                            <pre class="card-content" th:text="${mail.rawData}"></pre>
                        </div>
                    </div>
                </div>
                <div class="card-footer" th:if="${not #lists.isEmpty(mail.attachments)}">
                    <a th:href="@{|/api/email/${mail.id}/attachment/${a.id}|}" th:each="a : ${mail.attachments}">
                        <i class="material-icons tiny blue-text">attach_file</i>
                        <span class="blue-text no-uppercase" th:text="${a.filename}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
