<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-header :: html-header"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container" style="margin-top:60px">
    <div th:replace="fragments/error-bar :: error-bar"></div>
    <div class="row">
        <div class="col s12">
            <h1><i class="material-icons" style="font-size: 3rem">inbox</i>&nbsp;Inbox</h1>
            <div th:if="${mails.totalElements == 0}">
                <div class="card light-blue lighten-4">
                    <div class="card-content">No emails available.</div>
                </div>
            </div>
            <div th:if="${mails.totalElements > 0}">
                <table class="striped responsive-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Received On</th>
                        <th>Subject</th>
                        <th>Content Type</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mail : ${mails}">
                        <td th:text="${mail.id}">Id</td>
                        <td th:text="${mail.fromAddress}">From</td>
                        <td th:text="${mail.toAddress}">To</td>
                        <td th:with="df='yyyy-MM-dd HH:mm:ss'" th:text="${#calendars.format(mail.receivedOn,df)}">Received On</td>
                        <td th:text="${mail.subject}"></td>
                        <td th:text="${mail.contentType}"></td>
                        <td><a alt="Details" th:href="@{|/email/${mail.id}|}"><i class="material-icons">email</i></a></td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="fragments/paginator :: paginator('email', ${mails})"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>