<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/html-header :: html-header"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container root">
    <div class="row">
        <div class="col">
            <h1><i class="material-icons">inbox</i>Inbox</h1>
            <div th:if="${mails.totalElements == 0}">
                <div class="alert alert-info" role="alert">No emails available.</div>
            </div>
            <div th:if="${mails.totalElements > 0}">
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-all-modal"><i class="material-icons left">delete</i><span>Delete All</span></button>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Received On</th>
                        <th>Subject</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mail : ${mails}">
                        <td th:text="${mail.id}">Id</td>
                        <td th:text="${mail.fromAddress}">From</td>
                        <td th:text="${mail.toAddress}">To</td>
                        <td th:with="df='yyyy-MM-dd HH:mm:ss'" th:text="${#calendars.format(mail.receivedOn,df)}">Received On</td>
                        <td th:text="${mail.subject}"></td>
                        <td>
                            <a class="btn btn-primary" alt="Details" th:href="@{|/email/${mail.id}|}"><i class="material-icons">email</i></a>
                            <form action="#" th:action="@{'/email/{id}'(id=${mail.id})}" th:method="delete" class="inline">
                                <input type="hidden" name="_method" value="delete" />
                                <button class="btn btn-danger" type="submit"><i class="material-icons">delete</i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:replace="fragments/paginator :: paginator('email', ${mails})"></div>
            </div>
        </div>
    </div>
</div>

<div id="delete-all-modal" class="modal fade" aria-labelledby="modal dialog to delete all messages" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete All Emails</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete all emails?</p>
            </div>
            <div class="modal-footer">
                <form action="#" th:action="@{'/email'}" th:method="delete" class="inline">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="btn btn-danger" type="submit">Yes</button>
                </form>
                <button class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>