name: Update Dependencies
on:
  push:
    branches:
      - main

jobs:
  dependency_submission:
    name: Submit Dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 21

      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@v0.9.2
        with:
          use-gradlew: true